#main-wrapper{
  background: #D3D3D3 ;
}

body{
  background : #87CEFA;
}

#headerM{
  background-color: #F8F8F8;
  height: 50px;
}

#container{
  margin: 0 15px 0;
  margin-right: 0px;
  height: 100%;
}
.navbar{
  margin-bottom: 0px;
}
.avatar{
	width: 200px;
	height: 200px;
}

.moyenAvatar{
  width: 130px;
  height: 130px;
}

.petitAvatar{
	width: 30px;
	height: 30px;
  border-radius: 50px;
  margin-right: 18%;
}


.listeContacts {
  background-color: #D3D3D3;
  color: #101010;
  overflow:auto;
  border-left: 1px solid black;
  height: 100%;
  text-align: left;
  padding: 0px;
}

.listeContacts ul{
  list-style:none;
  padding: 0px;
}
#menu1{
  height: 900px;
}

.messages{
  margin-top: 30px;
  height: 550px;
  width: 900px;
  margin-left: 40px;
  background-color: #ffffff;
  overflow: scroll;
}

.mess{
  height: 80px;
  border-bottom: 1px solid black;

}

.avatar-message{
  height: 70px;
  width: 70px;
  margin: 5px;
  display: inline-block;
}

.pseudo-message{
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.text-message{
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
}
.messages a:hover .mess{
    background: rgba(0,0,0,.2);
}

.messages a .mess p{
    color : grey;
}

.messages a .mess{
    color : black;
}

.recu{
  margin: 20px;
}

.discu-avatar{
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  border-radius: 20px;
}
.text-recu {
  display: inline-block;
  overflow: scroll;
  height: 400px;
  width: 670px;
  background-color: white;
}
.text-envoi {
  display: inline-block;
}

table tr td{
  padding: 5px;
}
