#main-wrapper{
  margin: auto;
  width: 1000px;
  background: #B09F91 ;
}

body{
  background : #5EB6DD;
}

#headerM{
  background-color: #F8F8F8;
  height: 50px;
}

#container{
	margin: 0 15px 0;
  margin-right: 0px;
}
.navbar{
  margin-bottom: 0px;
}
.avatar{
	width: 200px;
	height: 200px;
}

.moyenAvatar{
  width: 130px;
  height: 130px;
}

.petitAvatar{
	width: 30px;
	height: 30px;
  border-radius: 50px;
  margin-right: 18%;
}


.listeContacts {
  background-color: #e8d2de;
  overflow:auto;
  height: 100%;
  text-align: right;
  padding: 0px;
}

.listeContacts ul{
  list-style:none;
  padding: 0px;
}
#menu1{
  height: 900px;
}

.contact{
  padding-top: 5px;
}

.maListe{
  border-bottom: 1px solid black;
}